<div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 ">
            <form class="card mt-4 border border-primary">
                <div class="card-body">
                    <div class="form-group"> <label for="email-for-pass">Ingrese su nueva contraseña</label> <input class="form-control" type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required=""><small class="form-text text-muted">Ingrese su nueva contraseña de inicio a la plataforma Guardian.</small> </div>
                    <div class="form-group"> <label for="email-for-pass">Confirme su nueva contraseña</label> <input class="form-control" type="password" id="newPasswordVerification" name="newPasswordVerification" [(ngModel)]="newPasswordVerification" required=""><small class="form-text text-muted">Confirme su nueva contraseña de inicio a la plataforma Guardian.</small> </div>
                </div>
                <div class="card-footer"> <button class="btn btn-success mr-1" (click)="passwordReset()">Confirmar</button> <a class="btn btn-danger" href="/component/card">Cancelar</a> </div>
            </form>
        </div>
    </div>
</div>