<header>
  <div class="container">
    <div class="page-banner home-banner">
      <div class="row align-items-center flex-wrap-reverse h-100">
        <div class="col-md-6 py-5 wow fadeInLeft">
          <h1 class="mb-4">Bienvenidos a Guardian</h1>
          <p class="text-lg text-grey mb-5">Sistema integral de asignación de guardias y gestión de personal médico</p>
          <a href="/component/login" class="btn btn-primary btn-split">Iniciar sesión</a>
        </div>
        <div class="col-md-6 py-5 wow zoomIn">
          <div class="img-fluid text-center">
            <img class="card-img-top img-responsive" src="assets/images/LogoGuardianG.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card-service wow fadeInUp">
          <div class="header">
            <img class="card-img-top img-responsive" src="assets/images/big/medicos.jpg" alt="">
          </div>
          <div class="body">
            <h5 class="text-secondary">Personal Medico</h5>
            <p>Gestione sus horarios de una manera comoda e intuitiva</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-service wow fadeInUp">
          <div class="header">
              <img class="card-img-top img-responsive" src="assets/images/big/administrativo.jpg" alt="">
          </div>
          <div class="body">
            <h5 class="text-secondary">Personal Administrativo</h5>
            <p>Simplifique su trabajo con nuestro sistema de asignación de horarios</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-service wow fadeInUp">
          <div class="header">
              <img class="card-img-top img-responsive" src="assets/images/big/hospitals.jpg" alt="">
          </div>
          <div class="body">
            <h5 class="text-secondary">Instituciones</h5>
            <p>Amplia personalización para adaptarse a cualquier tipo de institución</p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .container -->
</div> <!-- .page-section -->

<div class="page-section" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 py-3 wow fadeInUp">
        <span class="subhead">Acerca de nosotros</span>
        <h2 class="title-section">Empresa lider en el rubro de gestión administrativa</h2>
        <div class="divider"></div>

        <p>Somos una empresa con mas de diez años en el rubro. Muchas instituciones nos han elegido y confiado en nuestros servicios.</p>
        <p>Con Guardian la tediosa tarea de asignar horarios se convierte en algo automatizado y transparente.</p>
   
      </div>
      <div class="col-lg-6 py-3 wow fadeInRight">
        <div class="img-fluid py-3 text-center">
          <img class="card-img-top img-responsive" src="assets/images/big/Doctors_Pic.jpg" alt="">
        </div>
      </div>
    </div>
  </div> <!-- .container -->
</div> <!-- .page-section -->



<div class="page-section">
  <div class="container">
    <div class="text-center wow fadeInUp">
      <div class="subhead">Nuestro Plan</div>
      <h2 class="title-section">Plan de suscripción mensual</h2>
      <div class="divider mx-auto"></div>
    </div>
    <div class="row mt-5 justify-content-md-center">
      <div class="col-lg-4 py-3 wow zoomIn ">
        <div class="card-pricing marked">
          <div class="header">
            <div class="pricing-type">Standar</div>
            <div class="price">
              <span class="dollar">$</span>
              <h1>22<span class="suffix">.00</span></h1>
            </div>
            <h5>Por mes</h5>
          </div>
          <div class="body">
            <p>Gestion de <span class="suffix">Guardias</span></p>
            <p>Servicios <span class="suffix">Locales</span></p>
            <p>Servicios <span class="suffix">Domiciliarios</span></p>
            <p>Personal <span class="suffix">Medico</span></p>
            <p>Soporte <span class="suffix">24/7</span></p>
          </div>
          <div class="footer">
            <a href="/component/pago" class="btn btn-pricing btn-block">Subscribe</a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .container -->
</div> <!-- .page-section -->

<!-- Banner info -->
<div class="page-section banner-info">
  <div class="wrap bg-image" style="background-image: url(../assets/img/bg_pattern.svg);">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3 pr-lg-5 wow fadeInUp">
          <h2 class="title-section">Guardian <br> Empresa de gestión de horarios</h2>
          <div class="divider"></div>
          <p>Contamos con soporte las 24hs y personal altamente calificado para responder todas sus consultas.</p>
          
          <ul class="theme-list theme-list-light text-white">
            <li>
              <div class="h5">Personal administrativo</div>
              <p>Asesoramiento telefónico ante cualquier tipo de inconveniente</p>
            </li>
            <li>
              <div class="h5">Personal medico</div>
              <p>Diseño responsive para usar comodamente desde su dispositivo móvil</p>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 py-3 wow fadeInRight">
          <div class="img-fluid text-center">
              <img class="card-img-top img-responsive" src="assets/images/medicos.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .wrap -->
</div> <!-- .page-section -->
