<!-- ============================================================== -->
<!-- ============================================================== -->
<ngx-spinner type="ball-pulse-sync"></ngx-spinner>
<div id="main-wrapper" [ngClass]="{'show-sidebar': showMobileMenu}" dir="ltr" data-theme="light" data-layout="vertical"
    [attr.data-sidebartype]="sidebartype" data-sidebar-position="absolute" data-header-position="fixed"
    data-boxed-layout="full">
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin6">
        <nav class="d-flex top-navbar navbar-expand-md navbar-light">
            <div class="navbar-header" [ngClass]="(expandLogo)?'expand-logo':''" data-logobg="skin1">
                <a (click)="showMobileMenu = !showMobileMenu" (blur)="showMobileMenu = false" class="nav-toggler waves-effect waves-light d-block d-md-none"
                    href="javascript:void(0)">
                    <i [ngClass]="(showMobileMenu)?'ti-close':'ti-menu'"></i>
                </a>
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" href="/component/home">
                    <!-- Logo icon -->
                    <b class="logo-icon">
                        <!-- Light Logo icon -->
                        <img src="assets/images/Logo_izq.png" alt="homepage" class="light-logo" />
                    </b>
                    <span class="logo-text">
                        <!-- Light Logo text -->
                        <img src="assets/images/LogoHD3.png" class="light-logo" alt="homepage" />
                    </span>
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Toggle which is visible on mobile only -->
                <!-- ============================================================== -->
             
                <div ngbDropdown class="topbartoggler d-block d-md-none" *ngIf="usuario!='VISITANTE'">
                    <a class="text-light" id="dropdownBasic1" ngbDropdownToggle><i class="ti-more"></i></a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <a ngbDropdownItem href="/component/miperfil" *ngIf="usuario==='MEDICO'"><i class="ti-user m-r-5 m-l-5"></i>Perfil</a>
                      <a (click)="logout()" ngbDropdownItem><i class="fa fa-power-off m-r-5 m-l-5"></i>Cerrar sesión</a>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin6">
                <app-navigation (toggleSidebar)="toggleSidebarType()" class="w-100"></app-navigation>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin1" (mouseover)="Logo()" (mouseout)="Logo()">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar" [perfectScrollbar]="config"> 
            <app-sidebar></app-sidebar>
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <app-breadcrumb></app-breadcrumb>
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <router-outlet></router-outlet>
            <!-- ============================================================== -->
            <!-- End Start Page Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
        Todos los derechos reservados por Guardian. Diseñado y desarrollado por <a href="#">GuardianTeam</a> 2020-2021.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>