<!-- ============================================================== -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-6">
        <app-horarios-favoritos></app-horarios-favoritos>
    </div>
     <div class="col-md-6">
         <app-grafico-eventualidades></app-grafico-eventualidades>
    </div>
</div>
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<div class="row pt-2">
    <div class="col-12">
        <app-top-medicos></app-top-medicos>
    </div>
</div> 
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- ============================================================== -->
